@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  :is(input, textarea, select, button):focus {
    outline: none;
    box-shadow: none;
  }
}
